body {
    font-family: 'Noto Serif', serif;
    margin: 0 auto;
}

.orange-color {
    font-size: 50px;
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 100%;
}

.hire-me {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 15px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 3px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 70px;

}

.experience-header h1 {
    font-size: 60px;
    margin-left: 20px;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-left: 7px solid blue;
    border-radius: 5px;

}

#fullStack {
    border-left: 7px solid blue;
    border-radius: 5px;
}

#babbyDev {
    border-left: 7px solid tomato;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: black;
}

footer p {
    color: white;
    padding: 15px;
    margin-bottom: 0px;
    font-size: 25px;
}